@model IEnumerable<moviesMVC.Models.Movie>

<h1>Десятка лучших фильмов</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить фильм</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Режиссёр</th>
            <th>Жанр</th>
            <th>Год</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Director</td>
                <td>@item.Genre</td>
                <td>@item.Year</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
